<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pizzaFileLocation" value="c:\" />
    <add key="pizzaFileName" value="pizzas.json" />
    <add key="outputFileLocation" value="d:\" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>